[Unit]
Description=ExpressVPN Connect Service
After=network.target expressvpn.service
Requires=expressvpn.service

[Service]
User=fantomaster
Environment=PATH=/bin:/sbin:/usr/bin:/usr/sbin
ExecStart=/usr/bin/expressvpn connect
KillMode=process
KillSignal=SIGKILL
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
